<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Este es el inicio de la pagina de {{nombre}} {{apellido}}</p>
    <p>{% if edad > 4500 %}
        mayor que 4500
        {% else %}
        menor que 4500
        {% endif %}</p>
        {% for valor in lista  %}
        <li> linea {{valor}}</li>
        {% endfor %}
    <p>
        Info del perro:
        <ul>
            <li>{{perro.nombre}}</li>
            <li>{{perro.edad}}</li>
        <ul/>

    </p>
    
    
    
    </body>
</html> 